#home {
    text-align: center;
    background: rgb(212,240,246);
    background: linear-gradient(180deg, rgba(212,240,246,1) 0%, rgba(69,173,163,0) 100%);
    /* background-color: blue; */
}

.phone-number-div {
    position: relative;
    display: block;
    padding: 1% 30% 10%;
}
.input {
    height: 4rem;
    border-radius: 0.8rem;
    width: 21rem;
    margin: auto;
    font-size: 40px;
}
.input::placeholder {
    color: #B7B7B7;
    padding: 1px;
}

.submit {
    position: absolute;
    background-color: transparent !important;
    color: black
}