#home {
    text-align: center;
    background: rgb(212,240,246);
    background: linear-gradient(180deg, rgba(212,240,246,1) 0%, rgba(69,173,163,0) 100%);
    /* background-color: blue; */
}

.phone-number-div {
    position: relative;
    display: block;
    padding: 100px;
}