.clouds {
    position: absolute;
    overflow: hidden;
    height:500px;
    width: 100%;
    /* color: white; */
    /* background-color: wheat; */
    opacity: 0.6;
}

.cloud1 {
    position: absolute;
    left: -20%;
    top: 50px;
    width: 200px;
    animation: float 11s linear 5s infinite;
    z-index: 1;
}
.cloud2 {
    position: absolute;
    left: -20%;
    top: 100px;
    width: 200px;
    animation: float 11s linear 0s infinite;
    z-index: 1;
}
.cloud3 {
    position: absolute;
    left: -20%;
    top: 200px;
    width: 200px;
    animation: float 11s linear 8s infinite;
    z-index: 1;
}
.cloud4 {
    position: absolute;
    left: -20%;
    top: 250px;
    width: 200px;
    animation: float 11s linear 10s infinite;
    z-index: 1;
}
.cloud5 {
    position: absolute;
    left: -20%;
    top: 150px;
    width: 200px;
    animation: float 11s linear 3s infinite;
    z-index: 1;
}

@keyframes float {
    from {
        left: -30%;
    }
    to {
        left: 100%;
    }
}